@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.btn {
    color: #e2e2e2;
    background-color: rgb(190, 20, 120);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}
.money-img {
    width: 300px;
    padding: auto;
}
